NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database>?authSource=admin
DB_NAME=authDb

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FACE_DESCRIPTOR_KEY=your_face_descriptor_key
USER_PRIVATE_KEY=your_user_private_key

FORGOT_PASSWORD_SECRET=your_forgot_password_secret
CHANGE_EMAIL_SECRET=your_change_email_secret
RESTORE_ACCOUNT_SECRET=your_restore_account_secret

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GOOGLE_CLIENT_REDIRECT_URL=http://localhost:4800